<p class="third" style="text-align: center">
    你的好友{{theRequest.mobile | encryPt}}送你加油大礼包
</p>
<div class="get_award">
    <!--<p class="result">
        <span>
            {{score_login}}
        </span>
    </p>-->
    <!--<form action="" name="formName" class="information" verify-scope="tipStyle: 1">
        <input class="first_i" type="phone" id="phone" name="phone" ng-model="info.phone" ng-verify="pattern:/^0?1[3|4|5|8][0-9]\d{4}\d{4}$/,max:11,errmsg:'手机号码格式错误',required: false" placeholder="请输入手机号">
        <input class="first_i" type="text" id="scode" ng-model="info.scode" ng-verify="required: true,errmsg:'验证码不能为空'" placeholder="请填写验证码">
        <button class="get_code" class="scode_get" ng-verify="{control:'formName'}" ng-click="scode_get()">
            {{second}}
        </button>
        <input class="second_i button button-assertive" type="submit" value="领取油滴">
    </form>-->
    <form class="information" name="myForm" novalidate verify-scope="tipStyle: 1">
        <input class="first_i" type="tel" id="phone" ng-verify="pattern:/^0?1[0-9][0-9]\d{4}\d{4}$/,max:11,errmsg:'手机号码格式错误',required: false" ng-model="info.phone" ng-pattern="/^0?1[0-9][0-9]\d{4}\d{4}$/" name="phone" required placeholder="请输入手机号码">

        <button ng-if="registed" class="get_scode" ng-bind="second" ng-disabled="timeout || myForm.phone.$invalid" ng-click="scode_get()">
                                </button>
        <input ng-if="registed" class="first_i" type="text" name="scode" ng-model="info.scode" ng-verify="max:6" required placeholder="请输入短信验证码">

        <input class="second_i button button-assertive" ng-verify="{control:'myform'}" type="submit" value="领取油滴" ng-disabled=" myForm.phone.$invalid  && myForm.scode.$invalid && agree" ng-click="login()">
    </form>
    <p class="remind">注册即送：<span>200</span>元礼券 加油低至<span>85</span>折</p>
</div>