<div style="width:100%;height:100%;overflow-y:scroll;" ui-view>
    <div class="land">
        <header>

        </header>
        <section>

            <form name="landform" class="information" novalidate verify-scope="tipStyle: 0">
                <!--<input class="info credit-card" type="tel" id="card" ng-verify="pattern:/\d\s/,min:19,max:23,errmsg:'油卡卡号格式错误'" placeholder="请输入油卡号" ng-model="info.card" ng-blur="check_send()" ng-change="myFunc()">-->
                <input class="info credit-card" type="tel" id="card" ng-verify="pattern:/\d\s/,min:19,max:23,errmsg:'油卡卡号格式错误'" placeholder="请输入油卡号" ng-model="info.card" ng-blur="check_send()" ng-change="myFunc()">
                <span class="details">{{cardinfo.company}} | {{cardinfo.name}}</span>
                <input class="info" type="text" id="phone" ng-verify="pattern:/^0?1[0-9][0-9]\s{1}\d{4}\s{1}\d{4}$/,max:13,errmsg:'手机号码格式错误',required: false" ng-model="info.phone" placeholder="请输入手机号码">
                <input class="first_i info" type="text" ng-model="info.scode" name="scode" ng-verify="max:6" required placeholder="请输入验证码">
                <button class="get_scode" ng-bind="second" ng-disabled="timeout || myForm.phone.$invalid" ng-click="scode_get()">获取短信验证码</button>
                <p class="notice" ng-show="cardt||phonet||scodet||agreet">{{notice}}</p>
                <input class="second_i button button-assertive info"  type="submit" value="{{text}}" ng-disabled=" price_get && info.agree" ng-click="login()">
                <p class="remind" class="agree checkbox-assertive" ng-model="info.agree"><span class="agree" ng-click="toggleCustom()"></span><span ng-click="go_register_agreement()">同意会加油注册协议</span></p>
            </form>
        </section>
        <footer>
            <div class="first">
            </div>
            <div class="download">
                <div class="left">
                    <p class="chinese">会加油</p>
                    <p class="english">ihuijiayou.com</p>
                </div>
                <div class="center">
                    <p class="top">APP加油低至88折</p>
                    <p class="sec">仅在手机客户端</p>
                </div>
                <p class="right button button-assertive">下载APP</p>
            </div>
            <div class="connect">
                <p class="tel">客服热线 ： 400-851-8686</p>
                <p class="copyright">Copyright©2017 Hao Mu Co Ltd All Rights Reserved </p>
                <p class="company">北京好木电子商务有限公司 京 ICP 备 16060363号-1</p>
            </div>
        </footer>
    </div>
</div>