<div style="width:100%;overflow:auto;-webkit-overflow-scrolling: touch" scroll-height>
    <!--原生的滚动条，提升性能，减少BUG-->
    <div class="getvip_v20" style="-webkit-overflow-scrolling: touch" scroll-height>
        <div class="vipcard_popum01">
            <div class="fade" cl-le></div>
            <div class="wrap">
                <p>请输入特权兑换码</p>
                <span class="close">x</span>
                <input type="" name="" ng-model="excode" maxlength="6">
                <button ng-click="cdkey()">兑换</button>
            </div>
        </div>
        <div class="getvip_v20_main">
            <p class="note">还未领取特权卡</p>
            <p class="getvipcard" ng-click="getVip()">兑换特权卡</p>
        </div>
    </div>

</div>