<div style="width:100%;height:100%;overflow-y:hidden;">
    <div class="friend_request" scroll-height>
        <!-- directive:friend-rules -->
        <header>
            <div class="first">

                <p>
                    <span class="number">{{allFriendNum}}</span>
                    <br>
                    <span class="txt">成功邀请用户数</span>
                </p>
            </div>
            <div class="second">
                <div class="left">
                    <p class="number">累计获得红包金额</p>
                    <p class="title">{{package}}<i> 元</i></p>
                </div>
                <!--<div class="center">

                </div>-->
                <div class="right">
                    <p class="number">累计获得油滴数</p>
                    <p class="title">{{allOilNum}}<i> 油滴</i></p>
                </div>
            </div>
        </header>
        <section>
            <div class="friend_wrap">
                <h3 class="first">
                    好友邀请规则 &nbsp>
                </h3>
                <div class="second">
                    <p>我的车友</p>
                    <div>
                        <ul style="overflow-y:scroll;">
                            <li ng-repeat="x in frienddetails">
                                <span class="phone_number">{{x.phone | encryPt}}</span>
                                <span class="oil_drop">
                                    <b style="font-weight:500;" ng-if="x.get_oildrop_num!=0&&x.get_oildrop_num&&(!x.get_packets||x.get_packets==0)">+{{x.get_oildrop_num}}油滴</b>
                                    <b style="font-weight:500;" ng-if="x.get_packets!=0&&x.get_packets">+{{x.get_packets}}元红包</b>
                                    <b style="font-weight:500;color:#51586a" ng-if="(!x.get_oildrop_num||x.get_oildrop_num==0)&&(!x.get_packets||x.get_packets==0)">未加油</b>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>


        <footer ng-click="share()">
            邀请车友来加油
        </footer>
    </div>
</div>