<div style="width:100%;height:100%;overflow-y:hidden;">
    <div class="friend_request" scroll-height>
        <!-- directive:friend-rules -->
        <header>
            <div class="first">
                <div class="left"></div>
                <div class="right">
                    <p class="r_first">今日邀请获得</p>
                    <p class="r_second">
                        <span class="number">{{todayOilNum}}</span>
                        <span class="icon"></span>
                    </p>
                </div>
            </div>
            <div class="second">
                <div class="left">
                    <p class="number">{{allOilNum}}</p>
                    <p class="title">累计获得</p>
                </div>
                <div class="center">

                </div>
                <div class="right">
                    <p class="number">{{allFriendNum}}</p>
                    <p class="title">好友数</p>
                </div>
            </div>
        </header>
        <section>
            <div class="friend_wrap">
                <h3 class="first">
                    好友邀请规则 &nbsp>
                </h3>
                <div class="second">
                    <p>我的车友</p>
                    <div>
                        <ul style="overflow-y:scroll;">
                            <li ng-repeat="x in frienddetails">
                                <span class="phone_number">{{x.phone | encryPt}}</span>
                                <span class="oil_drop">
                                    <b style="font-weight:500;" ng-if="x.get_oildrop_num">+{{x.get_oildrop_num}}油滴</b>
                                    <b style="font-weight:500;color:#51586a" ng-if="!x.get_oildrop_num">未加油</b>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <footer ng-click="share()">
            邀请车友来加油
        </footer>
    </div>
</div>