@import '../template/temp.scss';
@keyframes round {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes shake{
    0%{
        transform: translateX(0rem);
    }
    25%{
        transform:  translateX(-0.5rem);
    }
    50%{
        transform:  translateX(0rem);
    }
    75%{
        transform:translateX(0.5rem);
    }
    100%{
        transform:translateX(0rem);
    }
}
@keyframes scroll{
     from {
      transform:translateY(0%);
    }

    to{
      transform:translateY(-100%);
    }
}
.shake_v20{
    .myprize{
        @include center-block;
        width:5.63199519rem; // 330px;
        height:4.64212937rem; // 272px;
        position:fixed;
        @include backgroundset("../../images/v20/shake/ic_popups.png",center,center,100%);
        z-index:12;
        display:none;
        .title{
            display:flex;
            flex-flow:row nowrap;
            justify-content:space-around;
            font-family: PingFangSC-Regular;
            font-size: .22186648rem; // 13px
            color: #4A4A4A;
            letter-spacing: 0;
            margin-top:1rem;
            padding:0 .3rem;
        }
        .close{
            width:.4266663rem; // 25px;
            height:.4266663rem; // 25px;
            color:#FFF;
            text-align:center;
            line-height:.286663rem; // 25px;
            border:2px solid #fff;
            font-size:.27306643rem; // 16px;
            border-radius:.20479983rem; // 12px;
            position:absolute;
            right:5%;
            top:5%;
        }
    }
    .shake_win{
        @include center-block;
        width:4.26666303rem; // 250px
        height:5.11999563rem; // 300px
        position:fixed;
        @include backgroundset("../../images/v20/shake/ic_pop_ups.png",center,center,100%);
        z-index:12;
        overflow:hidden;
        display:none;
        p{
            text-align:center;
        }
        .title{
            margin-top:65%;
            color:#ff8e4c;
            font-family: PingFangSC-Regular;
            font-size:.25599978rem; // 15px;
        }
        .text{
            padding:.1rem 0rem;
            display:block;
        }
        .close{
            height:.85333261rem;
            width:3.41333042rem; // 200px;
            border-radius:.4266663rem; // 25px;
            border:.0341333rem solid #E2BC85; // 2px;
            color:#E2BC85;
            line-height:.80333261rem;
            margin:.3rem auto;
            font-size:.30719974rem; // 18px;
        }
    }
    .shake_lose{
        @include center-block;
        width:4.26666303rem; // 250px
        height:6.11999563rem; // 300px
        position:fixed;
        @include backgroundset("../../images/v20/shake/ic_not in.png",center,center,80%);
        z-index:12;
        overflow:hidden;
        display:none;
        .close{
            height:.85333261rem;
            width:3.41333042rem; // 200px;
            border-radius:.4266663rem; // 25px;
            border:.0341333rem solid #fff; // 2px;
            color:#fff;
            line-height:.80333261rem;
            margin:.3rem .4rem;
            display:block;
            font-size:.30719974rem; // 18px;
            text-align:center;
            position:absolute;
            bottom:0;
        }
    }
    header{
        height:9.43785861rem; // 553px;
        @include backgroundset("../../images/v20/shake/ic_shake.png",top,center,112%);
        background-color:#7a7d93;
        position:relative;
        .car{
            position:absolute;
            width:.85333261rem;
            height:.31199956rem; // 30px;
            // @include backgroundset("../../images/v20/shake/ic_car.png",top,center,112%);
            background-color:#03ccbb;
            left:43.2%;
            transform-origin:center 1.8rem;
            top:32%;
            animation:round 5s linear infinite;
        }
        .hand{
            position:absolute;
            width:1rem;
            height:2rem;
            background-color:pink;
            left:43%;
            top:40%;
        }
        .shake{
            animation:shake .25s linear infinite;
        }
    }
    section{
        height:13.7557216rem; // 806px;
        background:#7a7d93;
        overflow:hidden;
        .transi01{
            width:5.90506163rem; // 346px;
            height:3.68639685rem; // 216px;
            margin:.3rem auto;
            @include backgroundset("../../images/v20/shake/ic_list.png",center,center,100%);
            position:relative;
            font-family: PingFangSC-Regular;
            overflow:hidden;
            .look{
                color:#FFF;
                right:8%;
                position:absolute;
                margin-top:.40719974rem; // 18px;
            }
            ul{
                width:5.11999563rem; // 300px;
                height:2.44053125rem; // 143px;
                margin:0 auto;
                margin-top:1rem;
                overflow:hidden;
                .wrap{
                    width:5.11999563rem; // 300px;
                    min-height:2.44053125rem; // 143px;
                    animation:scroll 5s linear infinite;
                    li{
                        width:100%;
                        display:flex;
                        flex-flow:row nowrap;
                        height:.40959965rem; // 24px;
                        padding:.27rem .3rem;
                        justify-content:space-between;
                        font-family: PingFangSC-Regular;
                        font-size: .27306643rem; // 16px;
                        color: #333743;
                        letter-spacing: 0;
                    }
                }
            }
        }
        .transi02{
            width:6.0927948rem; // 357px;
            height:9.7279917rem; // 570px;
            margin:0 auto;
            @include backgroundset("../../images/v20/shake/ic_prize.png",center,center,100%)
        }
    }
    footer{
        background:#7a7d93;
        font-family: PingFangSC-Regular;
        overflow:hidden;
        h3{
            width:3.99359659rem; // 234px;
            height:.68266608rem; // 40px;
            margin:.5rem auto;
            border-radius:.34133304rem; // 20px;
            border:0.068267rem #fff solid;
            text-align:center;
            line-height:.48266608rem; // 40px;
            color:#fff;
            font-size:.27306643rem; // 16px;
        }
        p{
            padding: .1rem .2rem;
            display: flex;
            flex-flow: row nowrap;
            font-family: PingFangSC-Regular;
            font-size: 13px;
            color: #fff;
            letter-spacing: 0;
            span:nth-child(1) {
                width: .37066652rem; // 10px;
            }
            span:nth-child(2) {
                flex: 1;
            }
        }
        .icp{
            width:100%;
            display:block;
            padding-bottom:1rem;
            font-size: 10px;
            text-align:center;
        }
    }
}