<div style="width:100%;height:100%;overflow-y:scroll;overflow-x:hidden; -webkit-overflow-scrolling: touch">
    <form class="land_main" style=" -webkit-overflow-scrolling: touch" name="myform" novalidate verify-scope="tipStyle: 1">
        <header>
            <div class="order_wrap" ui-view="header" card-format>
                <div class="first">
                    <span class="total"><i>{{unit_price}}</i>元</span>{{type_info.text}} 可<span class="reduce">节省<i>{{reduce_price }}</i>元</span>
                </div>
                <input type="tel" id="card" placeholder="请输入油卡号" test-t ng-verify="pattern:/^[\d\s]{19}|[\d\s]{23}$/,max:23,min:19,errmsg:'油卡卡号格式错误',required: true" ng-model="info.card" ng-pattern="/^[\d\s]{19}|[\d\s]{23}$/" name="card">
            </div>
        </header>
        <section>
            <div ui-view="body">
                <h3 class="title">{{main_title}}</h3>
                <div class="select">
                    <div class="left" ng-click="sub()">—</div>
                    <div class="center">{{unit_price}}<i> 元</i></div>
                    <div class="right" ng-click="add()">+</div>
                </div>
                <p class="help" ng-click="go_help()">充值帮助</p>
                <ul>
                    <li ng-repeat="x in type" ng-click="select_type(x,$index)" init-t>
                        <p class="pre_price">{{x.discount}}<span>折</span></p>
                        <p class="dis_price">{{x.method}}</p>
                    </li>
                </ul>
                <input class="second_i button button-assertive info" type="submit" value="{{text}}" ng-disabled="myform.card.$invalid" ng-click="check_send()">
            </div>
            <p class="my_order" ng-click="go_order()"></p>
        </section>
    </form>
</div>