<div style="width:100%;height:100%;overflow-y:scroll;">
    <div class="login" ui-view>
        <header class="user_pic">

            <span></span>

        </header>
        <section>
            <form class="list_information" name="myForm" novalidate>
                <div class="contain_information">
                    <div class="user_name information">
                        <span class="first"></span>
                        <span class="second">
                                <input type="tel"  id="phone"  class="phone" ng-model="info.phone" ng-pattern="/^0?1[\d][0-9]\d{4}\d{4}$/"    name="phone"  required  placeholder="请输入手机号码登录" maxlength="11"/> 
                                <!--<span class="test"></span>-->
                        <span class="four notice" ng-show="myForm.phone.$dirty && myForm.phone.$invalid">{{notice}}</span>
                        </span>
                    </div>
                    <div class="scode information">
                        <span class="first" style="background-image:url(images/login/ic_login_password.png)"></span>
                        <span class="second">
                                <input type="text" name="scode" ng-model="info.scode" required placeholder="请输入短信验证码" style="width:60%;" maxlength="6">
                                <span class="third notice" ng-hide="true">验证码输入错误</span>
                        <button class="scode_get" ng-bind="second" ng-disabled="timeout || myForm.phone.$invalid" ng-click="scode_get()">
                                </button>
                        </span>
                    </div>
                    <input class="info_submit" type="submit" value="登录/注册" ng-disabled=" myForm.phone.$invalid  || myForm.scode.$invalid || agree||send_scode_flag" ng-click="login()">
                </div>
            </form>
        </section>
        <footer>
            <span ng-click="toggleCustom()"></span>
            <a href="">注册登录表示同意《会加油充值服务协议》</a>
        </footer>
    </div>
</div>