<div style="width:100%;overflow:auto;-webkit-overflow-scrolling: touch" scroll-height>
    <!--原生的滚动条，提升性能，减少BUG-->

    <div class="shake_v20" style="-webkit-overflow-scrolling: touch">
        <!-- directive:v20-popum1 -->
        <!-- directive:v20-popum2 -->
        <header>
            <div class="car"></div>
            <div class="hand">
                <div class="present"></div>
            </div>
            <p class="left_chance">
                你还有{{prize_number}}次抽奖机会
            </p>
            <p class="chance">
                {{testxxx}}
            </p>
            <!--<div class="note">
                <h3>如何获得抽奖机会</h3>
                <p>直充一笔可获得1次抽奖机会<br/> 充值一笔3期分期套餐可获得3次抽奖机会
                    <br/> 充值一笔6期或以上分期套餐可获得6次抽奖机会
                    <br/> 分享活动可获得1次抽奖机会
                </p>
            </div>-->
        </header>
        <audio id="audio">   
      <source src="images/v20/shake/shake_sound_male.mp3" type="audio/mpeg">
    </audio>
        <section>
            <div class="transi01" ng-click="test()">
                <p class="look" ng-click="showPrizeList()">查看我的奖品</p>
                <ul>
                    <div class="wrap" scroll-show>
                        <li ng-repeat="x in allPrizeList">
                            <p>{{x.phone}}</p>
                            <p>{{x.prize_name}}</p>
                        </li>
                        <li class="scrollBottom"> </li>
                    </div>
                </ul>
            </div>
            <div class="transi02">
                <ul class="main_prize">
                    <li ng-repeat='x in main_prize' style='background:url({{dealpic(x.img)}}) center center no-repeat;background-size:100%;background-color:#ffffff;'>
                        <p class="prize_name">{{x.lottery_name}}</p>
                    </li>
                </ul>
                <ul class="other_prize">
                    <li ng-repeat='x in other_prize'>{{x.lottery_name}}</li>
                </ul>
            </div>
        </section>
        <footer>
            <h3>活动规则</h3>
            <p>
                <span>1.</span>
                <span>活动日期：2017年7月5日00:00至2017年8月6日23:59:59；</span>
            </p>
            <p>
                <span>2.</span>
                <span>每用户每天通过充值最多可以获得6次摇一摇抽奖机会，分享活动最多可获得1次摇一摇抽奖机会，摇一摇抽奖仅限在会加油APP内参与；</span>
            </p>
            <p>
                <span>3.</span>
                <span>获得实物奖品的用户，客服将在3个工作日内联系客户，请保持电话畅通，iPhone奖品共3台，每用户最多可获得1次，电影票卡号、密码及使用方法请至会加油APP站内信中查收，红包及油滴将直接发送到用户账号内；</span>
            </p>
            <p>
                <span>4.</span>
                <span>500元加油红包满1000元可用，200元加油红包满400元可用，100元加油红包满200元可用，以上红包有效期均为30天，中石化/中石油通用；</span>
            </p>
            <p>
                <span>5.</span>
                <span>油滴可抵扣现金充值，100油滴可抵扣1元，每单最多可抵用与充值金额等量的油滴数；</span>
            </p>
            <p>
                <span>6.</span>
                <span>油滴有效期：油滴自领取后有效期为半年，每年的6月30日和12月31日为统一过期日。如：您获取油滴的时间为2017年6月30日以前，则过期时间为2017年12月31日；若您获取油滴时间为2017年6月30日之后，12月31日之前，则过期时间为2018年6月30日；</span>
            </p>
            <p>
                <span>7.</span>
                <span>本次活动解释权归会加油所有，对于恶意刷单、蓄意捣乱等行为，会加油有权取消其加油订单，情节严重者将追究其法律责任。
</span>
            </p>
            <p class="icp">本活动由会加油提供，与苹果公司（Apple Inc.）无关。</p>
        </footer>
    </div>
</div>