<div style="width:100%;overflow:auto;" scroll-height>
    <!--原生的滚动条，提升性能，减少BUG-->
    <div class="task_v11" style="-webkit-overflow-scrolling: touch">
        <div class="task_popum">
            <p class="first">恭喜您！领取成功</p>
            <p class="second">奖品已发放到您的账户</p>
        </div>
        <header>
            <h3>新手奖励计划</h3>
            <div class="fourth">
                <ul class="pic">
                    <li ng-repeat="x in task track by $index" class="a_get" style="background-image:url({{b[$index]}});" ng-if="x.status==1&&x.user_get_status==2">
                        <p class="first">{{x.title}}</p>
                        <p class="second"></p>
                    </li>
                    <li ng-repeat="x in task" class="get" style="background-image:url('../../images/v11/ic_novice_light.png'),url('{{b[$index]}}')" ng-if="x.status==1&&x.user_get_status==1">
                        <p class="first">{{x.title}}</p>
                        <p class="second"></p>
                    </li>
                    <li ng-repeat="x in task" class="un_get" style="background-image:url({{b[$index]}});" ng-if="x.status==0&&x.user_get_status==1">
                        <p class="first">{{x.title}}</p>
                        <p class="second"></p>
                    </li>
                </ul>
                <ul class="connect">
                    <li ng-repeat="x in task track by $index" class="a_get" ng-if="x.status==1&&x.user_get_status==2">
                        <span class="line" ng-if="($index+1)!=task.length"></span>
                    </li>
                    <li ng-repeat="x in task track by $index" class="get" ng-if="x.status==1&&x.user_get_status==1">
                        <span class="line" ng-if="($index+1)!=task.length"></span>
                    </li>
                    <li ng-repeat="x in task track by $index" class="un_get" ng-if="x.status==0&&x.user_get_status==1">
                        <span class="line" ng-if="($index+1)!=task.length"></span>
                    </li>
                </ul>
            </div>
        </header>
        <section>
            <div class="task_list" ng-repeat="x in task track by $index">
                <p class="til">
                    <span class="fir">{{x.title}}</span>
                    <span class="sec">{{x.oil_number}}<i>滴油</i></span>
                </p>
                <p class="des">
                    {{x.des}}
                </p>
                <button class="done button  button-dark" ng-if="x.status==1&&x.user_get_status==2">已完成</button>
                <button class="get button  button-dark" ng-if="x.status==1&&x.user_get_status==1" ng-click="goget(x)">领取</button>
                <button class="gotask button  button-dark" ng-if="x.status==0&&x.user_get_status==1" ng-click="gobuy()">做任务</button>
            </div>
        </section>
        <footer>
            <h3>活动规则</h3>
            <p>
                <span>1.</span>
                <span>活动时间：2017年6月20日12:00-2017年7月31 日23:59:59</span>
            </p>
            <p>
                <span>2.</span>
                <span>赠送的油滴奖励均为一次性赠送，油滴可抵扣现金充值，100油滴可抵扣1元，每单最多可抵用与充值金额等量的油滴数；</span>
            </p>
            <p>
                <span>3.</span>
                <span>累计充值金额以充值优惠前金额为准，非最终支付金额，充值金额不包括充油失败退款金额；</span>
            </p>
            <p>
                <span>4.</span>
                <span>10元直抵红包的有效期自发送之日起30日内有效，满10元可用；</span>
            </p>
            <p>
                <span>5.</span>
                <span>活动奖励的充油红包限会加油APP内使用；</span>
            </p>
            <p>
                <span>6.</span>
                <span>本活动仅限通过会加油APP充值参与，其他渠道充值的金额不参与活动；</span>
            </p>
            <p>
                <span>7.</span>
                <span>本次活动解释权归会加油所有，对于恶意刷单、蓄意捣乱等行为，会加油有权取消其加油订单，情节严重者将追究其法律责任。</span>
            </p>
            <a class="icp">本活动由会加油提供，与苹果公司（Apple Inc.）无关。</a>
        </footer>
    </div>
</div>