@import '../template/temp.scss';
.sign_v11 {
    width: 100%;
    height: auto; // 602px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    @include backgroundset("https://imagecdn.ihuijiayou.com/wechat/images/v11/sign/ic_background.png", center, center, 100%);
    background-size:100% 100%;
    .sign_popum {
        width: 2.38933129rem; // 140px;
        height: 3.41333042rem; // 200px;
        font-family: ComicSansMS-Bold;
        display:none;
        letter-spacing: 0;
        z-index: 12;
        @include backgroundset("https://imagecdn.ihuijiayou.com/wechat/images/v11/ic_check_oil.png",-0rem,center,120%);
        .first {
            height: 1.27999891rem; // 75px;
            width: 100%;
            text-align: center;
            font-size: .49973274rem; // 41px;
            color: #FFE958;
            margin-top:.6rem;
        }
        .second {
            color: #FFF;
            width:1.5rem;
            padding-left:.3rem;
            line-height:.25rem;
            font-family: PingFangSC-Semibold;
            font-size: .190973274rem; // 41px;
            margin:0 auto;
            margin-top:.6rem;
        }
        @include center-block;
        margin-top:2.9rem;
    }
    section {
        height: 8.53332605rem; // 500px;
        width: 100%;
        @include backgroundset("https://imagecdn.ihuijiayou.com/wechat/images/v11/sign/ic_check_calendar.png", center, bottom, 95%);
        overflow: hidden;
        .first {
            font-family: PingFangSC-Medium;
            font-size: .34133304rem; // 20px
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
            margin-top: .75rem;
        }
        .second {
            text-align: center;
            margin-top: 1.45rem;
            font-family: PingFangSC-Medium;
            font-size: 18px;
            color: #666666;
            letter-spacing: 0;
        }
        .week {
            width: 5.99039489rem; // 351px;
            margin: .7rem auto;
            margin-bottom: 0;
            height: .8191993rem; // 48px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            font-family: PingFangSC-Regular;
            font-size: 18px;
            color: #666666;
            letter-spacing: 0;
        }
        .days {
            width: 5.99039489rem; // 351px;
            margin: .0rem auto;
            height: 3.75466346rem; // 220px
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            font-family: PingFangSC-Regular;
            font-size: 18px;
            color: #666666;
            letter-spacing: 0;
            li {
                width: .84733282rem; // 35px;
                text-align: center;
                height: .59733282rem; // 35px;
                line-height: .59733282rem; // 35px;
                display: inline-block;
            }
            .select {
                @include backgroundset("https://imagecdn.ihuijiayou.com/wechat/images/v11/sign/ic_check_Selected.png", center, center,75%);
            }
            .tselect {
                @include backgroundset("https://imagecdn.ihuijiayou.com/wechat/images/v11/sign/ic_check_Nowadays.png", center, center, 80%);
            }
        }
    }
    footer {
        width: 100%;
        height: auto; // 179px;
        overflow: hidden;
        padding: .3rem;
        padding-top: 0.1rem;
        margin-bottom: 0.3rem;
        box-sizing: border-box;
        h3 {
            font-family: PingFangSC-Regular;
            font-size: .30019974rem; // 18px
            color: #666666;
            letter-spacing: 0;
            text-align: center;
            margin:0 auto;
            margin-bottom: -.2rem;
            background:#f2f7fb;
            border-radius:.5rem;
            width:2.76479764rem; // 162px;
            height:.51199956rem; // 30px;
            line-height:.51199956rem; // 30px;
            z-index:100;
            position:relative;
        }
        ul {
            width: 100%;
            background:#FFF;
             position:relative;
            border-radius:.5rem;
            padding:.5rem 0;
            li {
                font-family: PingFangSC-Regular;
                font-size: .20479983rem; // 12px;
                color: #999999;
                letter-spacing: 0;
                padding: 0 10%;
            }
        }
    }
}

.help_v11 {
    width: 100%;
    position: relative;
    // min-height: 11.4005236rem; // 668px;
    background: #f5f5f5;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    header {
        background: #fff;
        height: 2.13333151rem; // 125px;
        position: relative;
        text-align:center;
        .pagen_v11 {
                position:absolute;
                bottom:0;
                display:inline-block;
                margin-left:-5%;
                .pagenicon_v11 {
                    transition:all .6s;
                    display: inline-block;
                    width: .14133304rem; // 20px
                    height: .14133304rem; // 20px;
                    background: #e8e8e8;
                    border-radius:0.07rem;
                    margin:0 .05rem;
                }
         }
        .slider {
            height: 2.13333151rem; // 125px;
            width: 100%;
            .slider-slide {
                height: 2.13333151rem;
                ul {
                    width: 100%;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-start;
                    li {
                        padding-top: 1.2rem;
                        font-family: PingFangSC-Regular;
                        width:25%;
                        font-size: .22186648rem; // 13px
                        color: #606060;
                        letter-spacing: 0;
                        text-align: center;
                        span{
                            display:inline-block;
                            width:1.02399913rem; // 60px;
                            height:.4266663rem; // 25px;

                        }
                        .select{
                            color:#E2BC85;
                            @include backgroundset("https://imagecdn.ihuijiayou.com/wechat/images/v11/ic_help_line.png",center,bottom,100%);
                        }
                        @include backgroundset("https://imagecdn.ihuijiayou.com/wechat/images/v11/ic_help_directions.png", center, center, 50%)
                    }
                }
            }

        }
    }
    section {
        margin-top: .20479983rem; // 12px;
        background: #fff;
        flex: 1;
        overflow: scroll;
        padding-bottom: .1rem;
        h3 {
            height: .85333261rem; // 50px;
            line-height: .85333261rem; // 50px;
            width: 100%;
            font-family: PingFangSC-Regular;
            font-size: .30719974rem; // 18px;
            color: #606060;
            letter-spacing: 0;
            text-align: center;
        }
        .main_content_help {
            width: 100%;
            background: #fff;
            li {
                height: 100%;
                padding: 0 .36rem; // 18px;
                border-bottom: .05rem solid #f9f9f9;
                .question {
                    height: .78rem; // 44px
                    line-height: .68rem;
                    position: relative;
                    font-size: .24rem; // 12px;
                    font-family: PingFangSC-Regular;
                    color: #51586A;
                    .help_iconb {
                        display: inline-block;
                        width: .5rem; // 25px // 15px;
                        height: .5rem; // 25px // 15px;
                        position: absolute;
                        right: 0%;
                        top: 25%;
                        transition: all .6s;
                        transform: rotate(-90deg);
                        @include backgroundset("https://imagecdn.ihuijiayou.com/wechat/images/login/ic_navbar_arrow_down@3x.png", center, center, 100%)
                    }
                    .selected {
                        transform: rotate(0deg);
                    }
                }
                .answer {
                    padding: .36rem 0; // 18px 0;
                    border-top: .04rem dotted #CCCCCC;
                    div {
                        font-size: .24rem; // 12px;
                        font-family: PingFangSC-Regular;
                        color: #999999;
                        line-height: .4rem;
                    }
                }
            }
        }
    }
    footer {
        height: 2.90133086rem; // 170px;
        width: 100%;
        .first {
            height: 1.19466565rem; // 70px;
            line-height: 1.19466565rem; // 70px;
            text-align: center;
            font-family: FZCQJW--GB1-0;
            font-size: 20px;
            color: #FFFFFF;
            letter-spacing: 0;
            background: black;
            @include backgroundset("https://imagecdn.ihuijiayou.com/wechat/images/v11/ic_help_gas.png", center, center, 100%)
        }
        .second {
            display: flex;
            height: 1.02399913rem; // 60px;
            flex-flow: row nowrap;
            justify-content: space-around;
            a {
                width: 2.8159976rem; // 165px;
                height: .68266608rem; // 40px;
                border: .0341333rem solid #E2BC85; // 2px;
                text-align: center;
                text-indent:.5rem;
                line-height: .68266608rem; // 40px;
                margin: auto;
                border-radius:3%;
                @include backgroundset("https://imagecdn.ihuijiayou.com/wechat/images/v11/ic_help_service@3x.png",.2rem,center,25%)
            }
            .se{
                background-image:url("https://imagecdn.ihuijiayou.com/wechat/images/v11/ic_help_phone@3x.png")
            }
        }
        .third {
            text-align: center;
            font-family: PingFangSC-Regular;
            font-size: .20479983rem; // 12px;
            color: #999999;
            letter-spacing: 0;
        }
    }
}

.task_v11 {
     .task_popum {
        width: 3.38933129rem; // 140px;
        height: 3.41333042rem; // 200px;
        font-family: ComicSansMS-Bold;
        letter-spacing: 0;
        z-index: 12;
        display:none;
         position: relative;
        background-image:url(https://imagecdn.ihuijiayou.com/wechat/images/v11/ic_novice_four.png),url(https://imagecdn.ihuijiayou.com/wechat/images/v11/ic_novice_light.png);
        background-repeat:no-repeat,no-repeat;
        background-size:80%,90%;
        background-position:center bottom,center 40%;
        .first {
           font-family: PingFangSC-Medium;
            font-size: .37546635rem; // 22px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align:center;
        }
        .second {
          font-family: PingFangSC-Medium;
            font-size: .27306643rem; // 16px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align:center;
            margin-top:.2rem;
        }
        @include center-block;
        margin-top:2.9rem;
    }
    header {
        height: 2.25279808rem; // 132px;
        width: 100%;
        position:relative;
        overflow-y: hidden;
        @include backgroundset("https://imagecdn.ihuijiayou.com/wechat/images/v11/ic_novice_back.png", center, center, 100%);
        h3 {
            font-family: PingFangSC-Regular;
            font-size: 12px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
            padding: .2rem 0;
        }
        .fourth {
            overflow-y: auto;
            margin-top:.3rem;
            .pic {
                width: 100%;
                height: 1.16053234rem; // 68px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
                li {
                    flex: 1;
                    height: 1.29466565rem; // 70px;
                    font-family: PingFangSC-Regular;
                    font-size: 12px;
                    color: #FFFFFF;
                    letter-spacing: 0;
                    .first {
                        text-align: center;
                    }
                    @include backgroundset("https://imagecdn.ihuijiayou.com/wechat/images/v11/ic_novice_one.png", center, bottom, .95333261rem);
                }
                .a_get {
                    width: 1.02399913rem; // 60px;
                    font-family: PingFangSC-Regular;
                    font-size: 12px;
                    color: #FFFFFF;
                    letter-spacing: 0;
                    .first {
                        text-align: center;
                    }
                    @include backgroundset("https://imagecdn.ihuijiayou.com/wechat/images/v11/ic_novice_one.png", center, bottom, .95333261rem);
                }
                .get {
                    width: 1.02399913rem; // 60px;
                    font-family: PingFangSC-Regular;
                    font-size: 12px;
                    color: #FFFFFF;
                    letter-spacing: 0;
                    .first {
                        text-align: center;
                        opacity: .5;
                    }
                    background-repeat:no-repeat,
                    no-repeat;
                    background-size:80%,
                    80%;
                    background-position:center .55rem,
                    center .5rem;
                }
                .un_get {
                    width: 1.02399913rem; // 60px;
                    font-family: PingFangSC-Regular;
                    font-size: 12px;
                    color: #FFFFFF;
                    letter-spacing: 0;
                    opacity: .5;
                    .first {
                        text-align: center;
                    }
                    @include backgroundset("https://imagecdn.ihuijiayou.com/wechat/images/v11/ic_novice_one.png", center, bottom, .95333261rem);
                }
            }
            .connect {
                width: 100%;
                height: 1.16053234rem; // 68px;
                display: flex;
                flex-flow: row nowrap;
                margin-top:.3rem;
                justify-content: space-around;
                li {
                    flex: 1; // 20px; // 60px;
                    height: .34133304rem; // 20px;
                    position: relative;
                    width:.51199956rem; // 30px;
                    span {
                        display:none;
                        height: 0;
                        width: 100%;
                        border-top: .01706665rem solid #686868; // 1px;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        z-index:0;
                    }
                }
                .a_get {

                    @include backgroundset("https://imagecdn.ihuijiayou.com/wechat/images/v11/ic_novice_finish.png", center, center, .34133304rem);
                    span {
                        width: 85%;
                        left: 65%;
                    }
                }
                .get {

                    @include backgroundset("https://imagecdn.ihuijiayou.com/wechat/images/v11/ic_novice_ing.png", center, center, .34133304rem);
                    span {
                        width: 88%;
                        left: 62%;
                    }
                }
                .un_get {

                    @include backgroundset("https://imagecdn.ihuijiayou.com/wechat/images/v11/ic_novice_undone.png", center, center, .34133304rem);
                    span {
                        width: 92%;
                        left: 58%;
                    }
                }
            }
        }
    }
    section {
        height: auto;
        .task_list {
            width: 5.97332824rem; // 350px;
            height: 1.45066543rem; // 85px;
            position: relative;
            @include backgroundset("https://imagecdn.ihuijiayou.com/wechat/images/v11/ic_novice_background.png", center, center, 100%);
            margin: .3rem auto;
            overflow: hidden;
            .til {
                .fir {
                    font-family: PingFangSC-Medium;
                    font-size: .25599978rem; // 15px;
                    color: #FFFFFF;
                    letter-spacing: 0;
                    margin-left: .3rem;
                }
                .sec {
                    font-family: PingFangSC-Medium;
                    font-size: .27306643rem; // 16px
                    color: #666666;
                    margin-left: .35rem;
                    i {
                        font-size: .20479983rem; // 12px;
                        display:inline-block;
                        padding:.3rem;
                        padding-left:.5rem;
                    }
                    .oil{
                        @include backgroundset("https://imagecdn.ihuijiayou.com/wechat/images/friend/ic_invite_money.png",left,.34rem,.4rem)
                    }
                    .packet{
                        padding-left:.37rem;
                        margin-left:-.1rem;
                        @include backgroundset("https://imagecdn.ihuijiayou.com/wechat/images/friend/ic_invite_oil.png",left,.30rem,.3rem)
                    }
                }
            }
            .des {
                font-family: PingFangSC-Regular;
                font-size: .23893313rem; // 14px
                color: #606060;
                width:4rem;
                line-height:.3rem;
                letter-spacing: 0;
                margin-left: .3rem;
                margin-top: .1rem;
                transform:scale(.9);
                position:absolute;
                top:.7rem;
                left:-.2rem;
            }
            button {
                position: absolute;
                font-family: PingFangSC-Medium;
                right: 2%;
                bottom: .2rem;
                width: 1.9599869rem; // 90px;
                height: .31199956rem; // 30px;
                transform: scale(.8);
            }
            .done {
                background: #dad4c9;
                color: #FFF;
            }
            .get {
                background: #FF7320;
                color: #FFF;
            }
            .gotask {
                background: #5BDBAB;
                color: #FFF;
            }
        }
    }
    footer {
        width: 100%;
        height: 8.87465909rem; // 520px;
        h3 {
            font-family: PingFangSC-Medium;
            font-size: .29013309rem; // 17px;
            color: #FF7320;
            letter-spacing: 0;
            text-align: center;
            @include backgroundset("https://imagecdn.ihuijiayou.com/wechat/images/v11/ic_novice_.png", center, center, 100%);
            padding: .5rem 0;
        }
        p {
            padding: .1rem .2rem;
            display: flex;
            flex-flow: row nowrap;
            font-family: PingFangSC-Regular;
            font-size: 13px;
            color: #666666;
            letter-spacing: 0;
            span:nth-child(1) {
            width:.37066652rem; // 10px;
                }
                span:nth-child(2) {
                    flex: 1;
                }
        }

        .icp {
            font-family: PingFangSC-Regular;
            font-size: .1773317rem; // 11px;
            color: #666666;
            letter-spacing: 0;
            text-align: center;
            width: 100%;
            display: block;
            margin: .3rem auto;
        }
    }
}